<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <div class="diagram-page container">
        <div class="intro">
            <h2>Statistics</h2>
            <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt fa-2x fa-logout"></i></a>
        </div>

        <canvas id="pieChart" style="display: block; height: 179px; width: 358px;" width="300" height="120"></canvas>
    </div>

    <script src="/javascripts/diagram.js"></script>
</body>

</html>