<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>

<div>HELLO PIE CHARTS AND STUFF</div>
<a href="/logout">Logout</a>

<canvas id="myChart"></canvas>
<canvas id="otherChart"></canvas>
=======
<html>

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <div>HELLO PIE CHARTS AND STUFF</div>
    <a href="/logout">Logout</a>

    <canvas id="pieChart" style="display: block; height: 179px; width: 358px;" width="300" height="100" ></canvas>
   
    <script src="/javascripts/diagram.js"></script>
</body>

</html>
>>>>>>> cfe6571d03aa6f0c2941a23d22d312d509816e3c
