<!DOCTYPE html>
<html>

<head>

    {{!-- import and use someone's code --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {{!-- import and use CHARTJS --}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <div class="diagram-page container intro">
        <h2>Budget</h2>
        <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt fa-2x fa-logout"></i></a>
        <canvas id="pieChart" style="display: block; height: 179px; width: 358px;" width="300" height="120"></canvas>
        <h2>Expense vs Income</h2>
        <canvas id="columnChart" style="display: block; height: 179px; width: 358px;" width="300" height="120"></canvas>
    </div>
    <script src="/javascripts/pieChart.js"></script>
    <script src="/javascripts/columnChart.js"></script>
</body>

</html>