<!DOCTYPE html>
<html>

<head>

    {{!-- import and use someone's code --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {{!-- import and use CHARTJS --}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <div class="diagram-page container">
        <div class="intro">
            <h2>statistics</h2>
            <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt fa-2x fa-logout"></i></a>
        </div>
        <canvas id="pieChart" style="display: block; height: 120px; width: 300px;" width="300" height="120"></canvas>
        <div class="intro">
            <h2>expense <small>vs</small> income</h2>
        </div>
        <canvas id="barChart" style="display: block; height: 120px; width: 300px;" width="300" height="120"></canvas>
    </div>
    <script src="/javascripts/diagrams.js"></script>
</body>

</html>