<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap"
        rel="stylesheet">
    {{!-- Font Awesome Icons --}}
    <script src="https://kit.fontawesome.com/a337f7a40e.js" crossorigin="anonymous"></script>
    {{!-- CSS Stylesheet --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="nav-landing row">
        <div class="col-4 header-div">
            <h1>&#36;how Me the Money</h1>
            <p>Analyse your budget and get your &#36;&#36;&#36 together</p>
        </div>
        <div class="col-4 header-tom">
            <img class='gif-landing' src="https://media.giphy.com/media/9HQRIttS5C4Za/giphy.gif"
                alt="Too bad, can't see Tom Cruise GIF">
        </div>
    </nav>

    

    <header id="landing">
         <div class="quote">
         <aside>
             <p>This app shows me my money !</p>
            <small>- Tom Cruise</small>
         </aside>
    </div>
        <div class="landing-btn">
            <a href="/signup"> <button type="submit" class="btn btn-info filter-btn btn-xlg ">Sign up</button></a>
            <a href="/signin"><button type="submit" class="btn btn-outline-info filter-btn btn-xlg">Sign in</button></a>
            <a href="/auth/google" class="google-btn"> <img src="/images/google-login.png" alt="google-logo"
                    class="google-img">Signin With Google</a>
        </div>
    </header>


    <footer class="landing-footer">
        <p>&copy; &#36;how-Me-the-Money-Team 2020</p>
    </footer>
</body>