<div>
    <header>
        <h1>Expense tracker</h1>
        <h3>Get your shit together</h3>
    </header>
    <h1>Welcome</h1>
    <a href="/signup">Sign up</a>
    <a href="/signin">Sign in</a>
</div>