body {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #131313;
  color: white;
}

.container {
  margin-top: 3%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
}

/* Signup and signup page*/
.sign-page {
    display: flex;
    justify-content: center;
}

.sign-position {
    margin-top: 7%;
}

/* Home Page */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12% 0 3%;
}

.user-greeting {
  font-size: 40px;
  font-weight: bold;
}

.fa-logout {
  color: white;
}

.fa-logout:hover {
  color: #3d3d3d;
}

.balance-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-balance {
  margin: 3% 0;
}

/* Filter */
.filter-position {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-item {
  padding: 2% 20px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  border-radius: 8px;
  background-color: #3d3d3d;
}

/* Transactions */
.trans-title {
  margin: 5% 0 2%;
}

.col-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.col-amount {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.red-bg,
.blue-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #212121;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.amount-red {
  color: #c49084;
  font-weight: bold;
  font-size: 18px;
}

.amount-blue {
  color: #506a77;
  font-weight: bold;
  font-size: 18px;
}

.trans-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* Font Awesome Icon */

.fontawesome {
    color: #808080;
    padding: 0 10px;
}

.fontawesome:hover {
  color: white;
}

/* Navigation bar */
.navbar-bg {
  background-color: #212121;
  width: 100%;
}

.navbar-items-position {
  display: flex;
  justify-content: center;
}


.fa-nav-home, .fa-nav-create {
    color: white;
    margin-right: 200px;
}

.fa-nav-diagram {
  color: white;
}

.fa-nav-home:hover,
.fa-nav-create:hover,
.fa-nav-diagram:hover {
  color: #3d3d3d;
}

/* Create transaction page */
.create-title {
  font-size: 40px;
  line-height: 1.5;
}

.create-name {
  display: inline;
  margin-left: 5%;
}

.create-form-item {
  padding: 1% 2%;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  border-radius: 8px;
  color: white;
}

.form-group {
  margin-bottom: 3%;
}

/* Diagrams page */
.diagram-page {
  margin: 4%;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

footer p {
    font-size: 0.7rem;
    color: #5d5d5d;
}

/* Landing page*/

#landing {
  background-image: url("../images/coins-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 20px; */
}

.btn-xlg {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 10px;
}

.gif-landing {
  height: 85px;
  width: 150px;
  margin: 20px 15px;
  border-radius: 7px;
}

.nav-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px;
  background: rgba(19, 19, 19, 0.5);
}

.google-btn {
    background-color: #4285f3;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    margin-top: 7%;
}

.google-btn:hover {
    text-decoration: none;
    color: #3d3d3d;
}

.google-img {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.landing-btn {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 3% 5%;
    border-radius: 7px;
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-tom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-footer {
    margin-top: 1%;
}
